/*-- scss:defaults --*/


$calvin-maroon: #8C2131;
$calvin-gold: #F3CD00;
$calvin-brightred: #C2002F;
$calvin-renewblue: #71B1C8;
$calvin-truegreen: #A2D683;


/*-- scss:rules --*/

.mchoice li { list-style-type: upper-alpha; }

.midi table, table.dataframe, .cell-output table, .midi table.dataframe {
  font-size: .8em;
}

.smaller table {
  font-size: .5em;
}

.copilot::before {
  content: "GitHub Copilot says:";
  font-size: .5em;
}

/* grey text, light background */
.copilot {
  color: #555;
  background-color: #eee;
  padding: 0.5em;
  border-radius: 0.5em;
}

.exercise {
  color: #555;
  background-color: #eee;
  padding: 0.5em;
  border-radius: 0.5em;
  margin: 0.25em 0;
}

.exercise::before {
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font: var(--fa-font-solid);
  content: "\f303";
  font-size: .5em;
  position: absolute;
}


.question {
  border-left: 5px solid lighten($calvin-renewblue, 25%);
  padding: 5px;
  margin: 10px;
  background-color: $calvin-gold;
}
.question p {
  margin: 5px;
}

.scripture {
  max-width: 90%;
  margin: 10px auto;
}

.scripture .ref {
  display: block;
  margin-top: 1rem;
  text-align: right;
}
